@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.text-shadow {
  text-shadow:
    rgba(153, 242, 124, 0.5) -1px -1px 0,
    rgba(153, 242, 124, 0.5) 1px -1px 0,
    rgba(153, 242, 124, 0.5) -1px 1px 0,
    rgba(153, 242, 124, 0.5) 1px 1px 0;
}

@layer components {
  @keyframes moveImage {
    0% { transform: translate(-60px, 0px); }
    20% { transform: translate(60px, 0px); }
    40% { transform: translate(-35px, 85px); }
    60% { transform: translate(0px, -35px); }
    80% { transform: translate(35px, 85px); }
    100% { transform: translate(-60px, 0px); }
  }

  .move-image-animation {
    animation-name: moveImage;
    animation-duration: 40s;
    animation-iteration-count: infinite;
  }
}
